<h1>Hello World!</h1>

<form action="/bookmarks" method="get">
  <input type="submit" value="See Bookmarks">
</form>

<form action="/add_bookmarks" method="get">
  <input type="submit" value="Add Bookmark">
</form>